# Pandas, Part I

By Josh Hug and Narges Norouzi

A high-level overview of the [Pandas](https://pandas.pydata.org) library. This is not a standalone notebook. Please see the slides or video for a narrative explanation of what is going on.

In [1]:
# `pd` is the conventional alias for Pandas, as `np` is for NumPy
import pandas as pd

## Series, DataFrames, and Indices

Series, DataFrames, and Indices are fundamental Pandas data structures for storing tabular data and processing the data using vectorized operations.

### Series

Series is a 1-D labeled array data. We can think of it as columnar data. 

#### Creating a new `Series` object
Below we create a `Series` object and will look into its two components: 1) array and 2) index.

In [2]:
s = pd.Series([-1, 10, 2])
print("Series Object:", s, sep='\n')

# Data contained within the Series
print("Array Object:", s.array, sep='\n')

# The Index of the Series
print("Index Object:", s.index, sep='\n')

Series Object:
0    -1
1    10
2     2
dtype: int64
Array Object:
<PandasArray>
[-1, 10, 2]
Length: 3, dtype: int64
Index Object:
RangeIndex(start=0, stop=3, step=1)

We can create a `Series` object by providing a custom index.

In [3]:
s = pd.Series([-1, 10, 2], index = ["a", "b", "c"])
print("Series Object:", s, sep='\n')
print("Array Object:", s.array, sep='\n')
print("Index Object:", s.index, sep='\n')

Series Object:
a    -1
b    10
c     2
dtype: int64
Array Object:
<PandasArray>
[-1, 10, 2]
Length: 3, dtype: int64
Index Object:
Index(['a', 'b', 'c'], dtype='object')

We can reassign the index of a `Series` to a new index.

In [4]:
s.index = ["first", "second", "third"]
s.index

Index(['first', 'second', 'third'], dtype='object')

#### Selection in Series
We can select a single value or a set of values in a `Series` using:
- A single label
- A list of labels
- A filtering condition

In [5]:
s = pd.Series([4, -2, 0, 6], index = ["a", "b", "c", "d"])

# Selection using a single label
# Notice how the return value is a single array element
print(s["a"])

# Selection using a list of labels
# Notice how the return value is another Series
print(s[["a", "c"]])

4
a    4
c    0
dtype: int64

In [6]:
# Filter condition: select all elements greater than 0
print(s>0)

# Selection using a filtering condition
print(s[s>0])

a     True
b    False
c    False
d     True
dtype: bool
a    4
d    6
dtype: int64

### DataFrame

DataFrame is a 2-D tabular data with both row and column labels. In this lecture, we will see how a DataFrame can be created from scratch or loaded from a file. 

#### Loading data from a file into a `DataFrame`
For loading data into a `DataFrame`, `Pandas` has a number of very useful file reading tools. We'll be using `read_csv` today to load data from a csv file into a `DataFrame` object.

In [7]:
elections = pd.read_csv("data/elections.csv")
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

#### Creating a new `DataFrame` object
We can also create a `DataFrame` in variety of ways. Here we cover the following:
1. Using a list and column names
2. From a dictionary
3. From a Series

In [8]:
# Creating a DataFrame using a list of column name(s)
df_list_1 = pd.DataFrame([1, 2, 3], columns = ["Number"])
print(df_list_1)

print()

df_list_2 = pd.DataFrame([[1, "one"], [2, "two"]], columns = ["Number", "Description"])
print(df_list_2)

   Number
0       1
1       2
2       3

   Number Description
0       1         one
1       2         two

In [9]:
# Creating a DataFrame from a dictionary
df_dict_1 = pd.DataFrame({"Fruit":["Strawberry", "Orange"], "Price":[5.49, 3.99]})
print(df_dict_1)

print()

df_dict_2 = pd.DataFrame([{"Fruit":"Strawberry", "Price":5.49}, 
                   {"Fruit":"Orange", "Price":3.99}])
print(df_dict_2)

        Fruit  Price
0  Strawberry   5.49
1      Orange   3.99

        Fruit  Price
0  Strawberry   5.49
1      Orange   3.99

In [10]:
# Creating a DataFrame from a Series

s_a = pd.Series(["a1", "a2", "a3"], index = ["r1", "r2", "r3"])
s_b = pd.Series(["b1", "b2", "b3"], index = ["r1", "r2", "r3"])

# Passing Series objects for columns
df_ser = pd.DataFrame({"A-column":s_a, "B-column":s_b})
print(df_ser)

print()

# Passing a Series to the DataFrame constructor to make a one-column dataframe
df_ser = pd.DataFrame(s_a)
print(df_ser)

print()

# Using to_frame() to convert a Series to DataFrame
ser_to_df = s_a.to_frame()
print(ser_to_df)

   A-column B-column
r1       a1       b1
r2       a2       b2
r3       a3       b3

     0
r1  a1
r2  a2
r3  a3

     0
r1  a1
r2  a2
r3  a3

In [11]:
# Creating a DataFrame from a csv file and specifying the index column
mottos = pd.read_csv("data/mottos.csv", index_col = "State")
mottos

,Motto,Translation,Language,Date Adopted
State,,,,
Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
Alaska,North to the future,—,English,1967
Arizona,Ditat Deus,God enriches,Latin,1863
Arkansas,Regnat populus,The people rule,Latin,1907
California,Eureka (Εὕρηκα),I have found it,Greek,1849
Colorado,Nil sine numine,Nothing without providence.,Latin,"November 6, 1861"
Connecticut,Qui transtulit sustinet,He who transplanted sustains,Latin,"October 9, 1662"
Delaware,Liberty and Independence,—,English,1847
Florida,In God We Trust,—,English,1868
Georgia,"Wisdom, Justice, Moderation",—,English,1798
Hawaii,Ua mau ke ea o ka ʻāina i ka pono,The life of the land is perpetuated in righteo...,Hawaiian,"July 31, 1843"
Idaho,Esto perpetua,Let it be perpetual,Latin,1890
Illinois,"State sovereignty, national union",—,English,1819
Indiana,The Crossroads of America,—,English,1937
Iowa,Our liberties we prize and our rights we will ...,—,English,1847
Kansas,Ad astra per aspera,To the stars through difficulties,Latin,1861
Kentucky,Deo gratiam habeamus,Let us be grateful to God,Latin,2002
Louisiana,"Union, justice, confidence",—,English,1902
Maine,Dirigo,I lead,Latin,1820
Maryland,"Fatti maschii, parole femine","Manly deeds, womanly words",Italian,1874
Massachusetts,Ense petit placidam sub libertate quietem,"By the sword we seek peace, but peace only und...",Latin,1775
Michigan,Si quaeris peninsulam amoenam circumspice,"If you seek a pleasant peninsula, look about you",Latin,"June 2, 1835"
Minnesota,L'étoile du Nord,The star of the North,French,1861
Mississippi,Virtute et armis,By valor and arms,Latin,"February 7, 1894"
Missouri,Salus populi suprema lex esto,Let the welfare of the people be the supreme law,Latin,"January 11, 1822"
Montana,Oro y plata,Gold and silver,Spanish,"February 9, 1865"
Nebraska,Equality before the law,—,English,1867
Nevada,All For Our Country,—,English,"February 24, 1866"
New Hampshire,Live Free or Die,—,English,1945
New Jersey,Liberty and prosperity,—,English,"March 26, 1928"
New Mexico,Crescit eundo,It grows as it goes,Latin,1887
New York,Excelsior,Ever upward,Latin,1778
North Carolina,Esse quam videri,"To be, rather than to seem",Latin,1893
North Dakota,\nSerit ut alteri saeclo prosit,One sows for the benefit of another age,Latin,"March 11, 2011"
Ohio,"With God, all things are possible",—,English,"October 1, 1959"
Oklahoma,Labor omnia vincit,Labor conquers all things,Latin,"March 10, 1893"
Oregon,Alis volat propriis,She flies with her own wings,Latin,1854
Pennsylvania,"Virtue, liberty, and independence",—,English,1875
Rhode Island,Hope,—,English,"May 4, 1664"
South Carolina,Dum spiro spero \nAnimis opibusque parati,"While I breathe, I hope \nReady in soul and re...",Latin,"May 22, 1777"
South Dakota,Under God the people rule,—,English,1885
Tennessee,Agriculture and Commerce,—,English,"May 24, 1802"
Texas,Friendship,—,English,1930
Utah,Industry,NaN,English,"May 3, 1896"
Vermont,Stella quarta decima fulgeat,May the fourteenth star shine bright,Latin,"April 10, 2015"
Virginia,Sic semper tyrannis,Thus always to tyrants,Latin,1776
Washington,Al-ki or Alki,By and by,Chinook Jargon,—
West Virginia,Montani semper liberi,Mountaineers are always free,Latin,"September 26, 1863"
Wisconsin,Forward,—,English,1851
Wyoming,Equal Rights,—,English,1893

In [12]:
elections.set_index("Candidate", inplace=True) # This sets the index to the "Candidate" column

In [13]:
elections

                   Year                  Party  Popular vote Result          %
Candidate
Andrew Jackson     1824  Democratic-Republican        151271   loss  57.210122
John Quincy Adams  1824  Democratic-Republican        113142    win  42.789878
Andrew Jackson     1828             Democratic        642806    win  56.203927
John Quincy Adams  1828    National Republican        500897   loss  43.796073
Andrew Jackson     1832             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
Jill Stein         2016                  Green       1457226   loss   1.073699
Joseph Biden       2020             Democratic      81268924    win  51.311515
Donald Trump       2020             Republican      74216154   loss  46.858542
Jo Jorgensen       2020            Libertarian       1865724   loss   1.177979
Howard Hawkins     2020                  Green        405035   loss   0.255731

[182 rows x 5 columns]

In [14]:
elections.reset_index(inplace=True)
elections

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073
4,Andrew Jackson,1832,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,Jill Stein,2016,Green,1457226,loss,1.073699
178,Joseph Biden,2020,Democratic,81268924,win,51.311515
179,Donald Trump,2020,Republican,74216154,loss,46.858542
180,Jo Jorgensen,2020,Libertarian,1865724,loss,1.177979
181,Howard Hawkins,2020,Green,405035,loss,0.255731

## Slicing in `DataFrame`

As a simple slicing example, consider the code below, which returns the first 5 rows of the `DataFrame`.

In [15]:
elections.loc[0:4]

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073
4,Andrew Jackson,1832,Democratic,702735,win,54.574789

We can also use the head command to return only a few rows of a dataframe.

In [16]:
elections.head()

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073
4,Andrew Jackson,1832,Democratic,702735,win,54.574789

In [17]:
elections.head(3)

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927

Or the tail command to get the last so many rows.

In [18]:
elections.tail(5)

          Candidate  Year        Party  Popular vote Result          %
177      Jill Stein  2016        Green       1457226   loss   1.073699
178    Joseph Biden  2020   Democratic      81268924    win  51.311515
179    Donald Trump  2020   Republican      74216154   loss  46.858542
180    Jo Jorgensen  2020  Libertarian       1865724   loss   1.177979
181  Howard Hawkins  2020        Green        405035   loss   0.255731

If we want a subset of the columns, we can also use loc just to ask for those.

In [19]:
elections.loc[0:4, "Year":"Party"]

   Year                  Party
0  1824  Democratic-Republican
1  1824  Democratic-Republican
2  1828             Democratic
3  1828    National Republican
4  1832             Democratic

### `loc`

`loc` selects items by row and column label.

In [20]:
elections.loc[[87, 25, 179], ["Year", "Candidate", "Result"]]

     Year             Candidate Result
87   1932        Herbert Hoover   loss
25   1860  John C. Breckinridge   loss
179  2020          Donald Trump   loss

In [21]:
elections.loc[[87, 25, 179], "Popular vote":"%"]

     Popular vote Result          %
87       15761254   loss  39.830594
25         848019   loss  18.138998
179      74216154   loss  46.858542

In [22]:
elections.loc[[87, 25, 179], "Popular vote"]

87     15761254
25       848019
179    74216154
Name: Popular vote, dtype: int64

In [23]:
elections.loc[0, "Candidate"]

'Andrew Jackson'

In [24]:
elections.loc[:, ["Year", "Candidate", "Result"]]

     Year          Candidate Result
0    1824     Andrew Jackson   loss
1    1824  John Quincy Adams    win
2    1828     Andrew Jackson    win
3    1828  John Quincy Adams   loss
4    1832     Andrew Jackson    win
..    ...                ...    ...
177  2016         Jill Stein   loss
178  2020       Joseph Biden    win
179  2020       Donald Trump   loss
180  2020       Jo Jorgensen   loss
181  2020     Howard Hawkins   loss

[182 rows x 3 columns]

### `iloc`

`iloc` selects items by row and column number.

In [25]:
elections.iloc[[1, 2, 3], [0, 1, 2]]

           Candidate  Year                  Party
1  John Quincy Adams  1824  Democratic-Republican
2     Andrew Jackson  1828             Democratic
3  John Quincy Adams  1828    National Republican

In [26]:
elections.iloc[[1, 2, 3], 0:3]

           Candidate  Year                  Party
1  John Quincy Adams  1824  Democratic-Republican
2     Andrew Jackson  1828             Democratic
3  John Quincy Adams  1828    National Republican

In [27]:
elections.iloc[[1, 2, 3], 1]

1    1824
2    1828
3    1828
Name: Year, dtype: int64

In [28]:
elections.iloc[:, 0:3]

             Candidate  Year                  Party
0       Andrew Jackson  1824  Democratic-Republican
1    John Quincy Adams  1824  Democratic-Republican
2       Andrew Jackson  1828             Democratic
3    John Quincy Adams  1828    National Republican
4       Andrew Jackson  1832             Democratic
..                 ...   ...                    ...
177         Jill Stein  2016                  Green
178       Joseph Biden  2020             Democratic
179       Donald Trump  2020             Republican
180       Jo Jorgensen  2020            Libertarian
181     Howard Hawkins  2020                  Green

[182 rows x 3 columns]

### `[]`

We could technically do anything we want using `loc` or `iloc`. However, in practice, the `[]` operator is often used instead to yield more concise code.

`[]` is a bit trickier to understand than `loc` or `iloc`, but it does essentially the same thing.

If we provide a slice of row numbers, we get the numbered rows.

In [29]:
elections[3:7]

,Candidate,Year,Party,Popular vote,Result,%
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073
4,Andrew Jackson,1832,Democratic,702735,win,54.574789
5,Henry Clay,1832,National Republican,484205,loss,37.603628
6,William Wirt,1832,Anti-Masonic,100715,loss,7.821583

If we provide a list of column names, we get the listed columns.

In [30]:
elections[["Year", "Candidate", "Result"]].tail(5)

     Year       Candidate Result
177  2016      Jill Stein   loss
178  2020    Joseph Biden    win
179  2020    Donald Trump   loss
180  2020    Jo Jorgensen   loss
181  2020  Howard Hawkins   loss

And if we provide a single column name we get back just that column.

In [31]:
elections["Candidate"].tail(5)

177        Jill Stein
178      Joseph Biden
179      Donald Trump
180      Jo Jorgensen
181    Howard Hawkins
Name: Candidate, dtype: object

## A little annoying puzzle

In [32]:
weird = pd.DataFrame({
    1:["topdog","botdog"], 
    "1":["topcat","botcat"]
})
weird

        1       1
0  topdog  topcat
1  botdog  botcat

In [33]:
# weird[1] #try to predict the output

In [34]:
# weird["1"] #try to predict the output

In [35]:
# weird[1:] #try to predict the output

In [36]:
mottos.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object', name='State')

In [37]:
mottos.columns

Index(['Motto', 'Translation', 'Language', 'Date Adopted'], dtype='object')